<div class="card bg-base-100 w-96 shadow-sm flex justify-center mx-auto">

  <div class="card-body">
    <h2 class="card-title"><%= @article.title %></h2>
    <p><%= @article.body %></p>
  </div>
</div>
