<div class="flow-root mx-auto">
  <dl class="-my-3 divide-y divide-gray-100 text-sm">
    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">名前</dt>
      <dd class="text-gray-700 sm:col-span-2"><%= @user.name %></dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">メールアドレス</dt>
      <dd class="text-gray-700 sm:col-span-2"><%= @user.email %></dd>
    </div>

    
  
  </dl>
</div>

